
@{

    ViewBag.Title = "NewSpecification";
}

<link href="~/Content/MyStyleTableCSS/StyleTableCSS.css" rel="stylesheet" />

@using Контроль_и_Учет_v1._2.Controllers

@model Контроль_и_Учет_v1._2.Controllers.Specification


<div class="container">


    <p align="right">Приложение №    _______________ </p>

    <p align="right">к договору №  @Model.numberContract </p>
    <p align="right">от @Model.dateFromContract </p>

    <p align="right"> @Model.dateOfCreationSpecification </p>


    <p> </p><h1> </h1>

    <h2 align="center"> СПЕЦИФИКАЦИЯ </h2>

    <h4 align="center"> на поставку продукции </h4>

    <p> </p>



    <table id="myTable3" align="center">


        <tr class="row2">
            <th align="center"> № п/п </th>
            <th align="center"> Наименование</th>
            <th align="center"> Ед. изм.</th>
            <th align="center"> Кол-во</th>
            <th align="center"> Цена</th>
            <th align="center"> Сумма</th>
        </tr>

        @for (var i = 0; i < @Model.ArrayTitlesSpecification.Length; i++)
        {

            <tr class="row2">
                <td align="center">@i</td>
                <td>@Model.ArrayTitlesSpecification[i]</td>
                <td align="center">Ед. изм.</td>
                <td align="center">Кол-во</td>
                <td align="center">Цена</td>
                <td align="center">Сумма</td>
            </tr>
        }


        <tr class="row3">
            <th></th>
            <th>ИТОГО:</th>
            <th></th>
            <th></th>
            <th></th>
            <th align="center">0,00</th>
        </tr>


        <tr class="row4"> <th class="myTD2"></th> <th class="myTD2"></th> </tr>
        <tr class="row4"> <th class="myTD2"></th> <th class="myTD2"></th> </tr>

    </table>



    <p> </p>


    <p> 1. Условия Поставки - Поставка продукции производится на условиях EXW </p>
    <p> 2. Срок поставки -    Июнь 2018 года </p>
    <p> 3. Срок оплаты -      Оплата за продукцию производится в течение 20 (двадцати) дней с даты поставки.</p>

    <p> </p>



    <table id="myTable4" align="center">

        <tr class="row4"> <th class="myTD2"></th> <th class="myTD2"></th> </tr>
        <tr class="row4"> <th class="myTD2"> </th> <th class="myTD2"></th></tr>

        <tr class="row4">
            <th class="myTD2"> ПОСТАВЩИК </th>
            <th class="myTD2">ПОКУПАТЕЛЬ</th>
        </tr>

        <tr class="row4"> <td class="myTD2"> </td> <td class="myTD2"></td> </tr>


        <tr class="row4">
            <td class="myTD2">@Model.titleProvider </td>
            <td class="myTD2">@Model.titleFirm </td>
        </tr>


        <tr class="row4"> <td class="myTD2"> </td> <td class="myTD2"></td> </tr>


        <tr class="row4">
            <td class="myTD2">Директор: ___________  @Model.providerDirectorName[0] . @Model.providerDirectorSecondName[0] . @Model.providerDirectorSurname </td>
            <td class="myTD2">Директор: ___________  @Model.firmDirectorName[0] . @Model.firmDirectorSecondName[0] . @Model.firmDirectorSurname </td>
        </tr>


    </table>



</div>


<script defer src="~/Scripts/MyJavaScript/AddSpecification/CreateSpecificationJavaScript.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
